.container{
    height: 5rem;
    background: #9A6F58;
    //box-shadow: 4px 4px #9A6F58;

    display: flex;
    align-items: center;
    justify-content: end;
    position: relative;

    svg{
        position: absolute;
        right: 75px;
    }

}